.book-detail-wrapper {
  height: 90vh;
  width: 290px;
  vertical-align: middle;
  position: fixed;
  // 下に書く
  @include mq-down(lg) {
    display: none;
  }
  // @include mq-up(lg) {
  //   display: none;
  // }
  .container {
    height: 85%;
    background-color: white;
    border: outset 1px $base-form-color;
    border-radius: 8px;
    margin-top: 50px;
    overflow: scroll;
    #book-detail-title {
      width: 100%;
    }
    .vote-button {
      margin-left: 20px;
      float: left;
      .upvote-button {
        color: $base-form-color;
      }
      .downvote-button {
        color: pink;
      }
      .upvotes-count {
        color: $base-color;
        img {
          width: 15px;
          height: 15px;
          margin-left: 2px;
          margin-bottom: 2px;
        }
      }
    }
    textarea {
      width: 100%;
    }
    button {
      width: 200px;
    }
  }
  .btn-lending {
    pointer-events: none;
  }
  #tag {
    background: #bbb;
    margin: 3px;
    padding:6px;
    text-decoration: none;
    border-left:solid 4px #555;
    color:#fff;
    font-size:12px;
    list-style: none;
  }
}
