.book-detail-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  // 下に書く
  @include mq-down(lg) {
    display: none;
  }
  // @include mq-up(lg) {
  //   display: none;
  // }
  .container {
    height: 85%;
    background-color: white;
    border: outset 1px gray;
    margin-top: 50px;
    overflow: scroll;
  }
  .btn-lending {
    pointer-events: none;
  }
}
