@import "bootstrap";
@import "introjs";
@import "jquery.tagit";
@import "tagit.ui-zendesk";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "_variables";
@import "common";
@import "sidebar";
@import "admin/import_csv";
@import "admin/registrations";
@import "admin/tag_it_override";
@import "books/book_detail";
@import "books/book_tile";
@import "header/header_with_searchbox";
@import "header/header";
@import "modals/modal";
@import "modals/qrcode_reader";
@import "rankings/ranking";
@import "trends/trend_book_detail";
@import "trends/trend";
@import "users/mypage";

body {
  background-color: #EFF3F6;
  font-family: $base-font-family;
  color: $base-color;
}

.black-filter {
  filter:brightness(50%);
}

i {
  margin-left: -20px;
  margin-right: 10px;
  color: white;
}

.under-key-color {
  background: linear-gradient(transparent 90%, $base-key-color 90%);
}

