@import "bootstrap";
@import "jquery.tagit";
@import "tagit.ui-zendesk";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "_variables";

@import "book_detail";
@import "book_tile";
@import "common";
@import "header";
@import "import_csv";
@import "modal";
@import "mypage";
@import "qrcode_reader";
@import "ranking";
@import "registrations";
@import "responsive";
@import "sidebar";
@import "tag_it_override";
@import "trend_book_detail";
@import "trend";

body {
  background-color: #EFF3F6;
  font-family: $base-font-family;
  color: $base-color;
}

.black-filter {
  filter:brightness(50%);
}

i {
  margin-left: -20px;
  margin-right: 10px;
  color: white;
}

.under-key-color {
  background: linear-gradient(transparent 90%, $base-key-color 90%);
}

