#masonry-gallery {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;

  li {
    &:hover {
      cursor: pointer;
    }
    max-width: 130px;
    padding: 5px;
    list-style: none;
    list-style-image:none;
    img {
      max-width: 100%;
      height: auto;
      box-shadow: 1px 1px 5px 1px #999;
    }
  }
}
