@import "_variables";
@import "_variables";

.csv-wrapper {
  .csv-header {
    height: 40px;
    background-color: white;
    .header-title {
      padding-top: 8px;
      font-size: 18px;
      color: $base-form-color;
      i {
        margin-left: 100px;
        color: $base-form-color;
      }
    }
    .header-caption {
      margin-left: 230px;
      padding-top: 5px;
      font-size: 20px;
    }
  }
}

.csv-container {
  background-color: white;
  a {
    margin-left: 490px;
  }
  .search_item {
    margin-left: 160px;
  }
  .btn-primary {
    margin-left: 210px;
  }
}
