@import '_variables';
.mypage-wrapper {
  li {
    margin-left: 15px;
    list-style: none;
  }
  .profile-wrapper {
    background-color: white;
    img {
      height: 130px;
      width: 130px;
    }
    i {
      margin-left: 10px;
      color: $base-form-color;
    }
    .edit-user-table {
      label {
        width: 70px;
      }
      #user_name, #user_email {
        width: 400px;
      }
    }
  }

  .chart-wrapper {
    margin-top: 120px;
    .upvote-chart, .borrowed-chart {
      background-color: white;
    }
    i {
      color: $base-key-color;
    }
  }
}
