@import "_variables";

.registrations-container {
  background-color: white;
  .error-area {
    background-color: red;
    color: white;
  }
  a {
    margin-left: 450px;
  }
  i {
    color: #007bff;
    margin-right: 2px;
  }
  h5 {
    color: $base-key-color;
    .small-character {
      margin-left: 15px;
      font-size: 70%;
    }
  }
  .number-field {
    margin-right: 20px;
  }
  .btn-primary {
    margin-left: 240px;
    width: 150px;
  }
}
