@import "_variables";

.trend-book-detail-wrapper {
  height: 70vh;
  width: 290px;
  vertical-align: middle;
  position: fixed;

  .container {
    height: 85%;
    margin-top: 120px;
    padding-top: 15px;
    overflow: scroll;
    background-color: white;
    border: solid 2px $base-key-color;
    border-radius: 8px;
    #book-title {
      margin-top: 20px;
      width: 100%;
    }
    button {
      margin-top: 7px;
      margin-left: 20px !important;
      width: 200px;
    }
  }
}
